* {
  font-family: "Poppins", sans-serif;
}

body {
  text-align: center;
  background: #ECF0F1;
}
.containerTime {
  margin: auto;
  width: 20%;
  padding: 10px;
  background-color: #34495E;
  color: #E74C3C;
  border: 5px solid #BDC3C7;
  border-radius: 10px;
  box-shadow: 0px 0px 15px #2C3E50;
  text-shadow: 60px;
  font-size: 4rem;
}

.containerDate {
  margin: auto;
  width: 20%;
  padding: 10px;
  background-color: #34495E;
  color: #E74C3C;
  border: 5px solid #BDC3C7;
  border-radius: 10px;
  box-shadow: 0px 0px 15px #2C3E50;
  text-shadow: 60px;
  font-size: 1.5rem;
}

/* #date {
  background-color: burlywood;
  font-size: 1.5rem;
  color: lightcoral
  text-decoration: underline;
} */
